@font-face {
   font-family: 'HelvetRegular';
   src: url('../font/HelveticaNeueCyr-Roman.otf');
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: 'HelvetBold';
   src: url('../font/HelveticaNeueCyr-Bold.otf');
   font-style: normal;
   font-weight: 700;
}